@model DealDouble.Models.AuctionListingViewModel 
@{
    ViewBag.Title = "AuctionListing";
}

<!--Listing  Area Start-->
<div id="listingArea">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Actual Amount</th>
                <th scope="col">Starting Date</th>
                <th scope="col">Ending Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Auctions != null && Model.Auctions.Count > 0)
            {
                foreach (var auction in Model.Auctions)
                {

                    <tr>
                        <td>@auction.Title</td>
                        <td>@auction.Description</td>
                        <td>@auction.ActualAmount</td>
                        <td>@auction.StartingDate</td>
                        <td>@auction.EndingDate</td>
                        <td>
                            <button class="btn btn-success btn-sm" value="new" onclick="AuctionDML(this,@auction.AuctionID)" data-toggle="modal" data-target="#auctionModal"> <i class="far fa-save"> New </i> </button>
                            <button class="btn btn-primary btn-sm" value="edit" onclick="AuctionDML(this,@auction.AuctionID)" data-toggle="modal" data-target="#auctionModal"> <i class="fas fa-pen"> Update</i> </button>
                            <button class="btn btn-danger btn-sm" value="delete" onclick="AuctionDML(this,@auction.AuctionID)" data-toggle="modal" data-target="#auctionModal"><i class="fas fa-trash-alt"> Delete </i></button>
                        </td>
                    </tr>


                }

            }
            else
            {

                <div>
                    <div class="alert alert-primary" role="alert">
                        No Article Exist !
                    </div>
                </div>

            }
        </tbody>
    </table>
    <!--pagination section start here-->
    @if (Model.Pager != null && Model.Pager.TotalPages > 0)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                <!--Disable if the current page is equal to start page-->
                @if (Model.Pager.CurrentPage == Model.Pager.StartPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Auction", new { pageNo = Model.Pager.CurrentPage - 1 })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                }

                @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Auction", new { pageNo = page })">@page</a></li>
                }

                <!--Disable if the current page is equal to End page-->
                @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Auction", new { pageNo = Model.Pager.CurrentPage + 1 })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                }

            </ul>
        </nav>
       
    }
    <!--pagination section end here-->
    <!-- Modal -->
    <div class="modal fade" id="auctionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!--Content Area start-->
        <div class="modal-dialog" role="document" id="contentArea">

        </div>
        <!--Content Area end-->
    </div>




    <script>
    function AuctionDML(btn,articleId) {

        if ($(btn).attr("value") == 'new') {
               $.ajax({
                  method: "GET",
                  url: "@Url.Action("AddAuction","Auction")",

              })
               .done(function (response) {
                   $("#contentArea").html(response);
               });
        }
        else if ($(btn).attr("value")=='edit') {

            $.ajax({
                method: "GET",
                url: "@Url.Action("UpdateAuction","Auction")",
                data: { ID: articleId }

            })
             .done(function (response) {
                 $("#contentArea").html(response);
             });

        } else if ($(btn).attr("value") == 'delete') {

             $.ajax({
                 method: "get",
                 url: "@Url.Action("DeleteAuction","Auction")",
                 data: { ID : articleId }
             })
             .done(function (response) {
                 $("#contentArea").html(response);
             });

        }
    }

    </script>
</div>

